
<h1><%= t('.home_intro') %></h1>
<aside><%= image_tag("website-localization.png", width: "450px") %></aside>
<div class="floating">
    <p><%= t('.home_intro_2') %></p>
</div>
  

<ul>
  <li><%= link_to t('.contact_us'), "#" %></li>
</ul>