<h1><%= t('.heading_1') %></h1>
<img src="http://laffaire.com/files/2015/03/mothers_day_ideas.jpg" width="500px" height="334">
<p><%= t('.paragraph1') %></p>
<p><%= t('.paragraph2') %></p>

<%= link_to t('.my_blog_link'), controller: 'articles' %>



